/* default styles for extension "tx_cssstyledcontent" */
/* Headers */

.csc-header-alignment-center {
  text-align: center;
}

.csc-header-alignment-right {
  text-align: right;
}

.csc-header-alignment-left {
  text-align: left;
}

div {
  &.csc-textpic-responsive {
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
  }
  &.csc-textpic {
    overflow: hidden;
    div.csc-textpic-imagerow {
      overflow: hidden;
    }
  }
}

/* Clear floats after csc-textpic and after csc-textpic-imagerow */

ul.csc-uploads li {
  overflow: hidden;
}

/* Set padding for tables */

div.csc-textpic {
  .csc-textpic-imagewrap {
    table {
      border-spacing: 0;
      border-collapse: collapse;
      tr td {
        padding: 0;

        vertical-align: top;
      }
    }
    figure {
      display: table;

      margin: 0;
    }
  }
  figure.csc-textpic-imagewrap {
    display: table;

    margin: 0;
  }
}

/* Settings for figure and figcaption (HTML5) */

/* Captions */

figcaption.csc-textpic-caption {
  display: table-caption;
}

.csc-textpic-caption {
  caption-side: bottom;

  text-align: left;
}

div.csc-textpic-caption-c .csc-textpic-caption,
.csc-textpic-imagewrap .csc-textpic-caption-c {
  text-align: center;
}

div.csc-textpic-caption-r .csc-textpic-caption,
.csc-textpic-imagewrap .csc-textpic-caption-r {
  text-align: right;
}

div.csc-textpic-caption-l .csc-textpic-caption,
.csc-textpic-imagewrap .csc-textpic-caption-l {
  text-align: left;
}

/* Float the columns */

div {
  &.csc-textpic div.csc-textpic-imagecolumn {
    float: left;
  }
  &.csc-textpic-border div.csc-textpic-imagewrap img {
    padding: 0 0;

    border: 2px solid black;
  }
  &.csc-textpic .csc-textpic-imagewrap {
    img {
      display: block;

      border: none;
    }
    .csc-textpic-image {
      margin-bottom: 10px;
    }
    .csc-textpic-imagerow-last .csc-textpic-image {
      margin-bottom: 0;
    }
  }
  &.csc-textpic-imagecolumn {
    margin-right: 10px;
  }
}

/* Border just around the image */

/* Space below each image (also in-between rows) */

/* colSpace around image columns, except for last column */

td.csc-textpic-imagecolumn .csc-textpic-image {
  margin-right: 10px;
}

div.csc-textpic-imagecolumn.csc-textpic-lastcol,
td.csc-textpic-imagecolumn.csc-textpic-lastcol .csc-textpic-image {
  margin-right: 0;
}

/* Add margin from image-block to text (in case of "Text & Images") */

div {
  &.csc-textpic-intext-left .csc-textpic-imagewrap,
  &.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
    margin-right: 10px;
  }
  &.csc-textpic-intext-right .csc-textpic-imagewrap,
  &.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
    margin-left: 10px;
  }
  &.csc-textpic-center {
    .csc-textpic-imagewrap,
    figure.csc-textpic-imagewrap {
      overflow: hidden;
    }
    .csc-textpic-center-outer {
      position: relative;
      right: 50%;

      float: right;
    }
    .csc-textpic-center-inner {
      position: relative;
      right: -50%;

      float: right;
    }
  }
  &.csc-textpic-right {
    .csc-textpic-imagewrap {
      float: right;
    }
    div.csc-textpic-text {
      clear: right;
    }
  }
  &.csc-textpic-left {
    .csc-textpic-imagewrap {
      float: left;
    }
    div.csc-textpic-text {
      clear: left;
    }
  }
  &.csc-textpic-intext-left .csc-textpic-imagewrap {
    float: left;
  }
  &.csc-textpic-intext-right .csc-textpic-imagewrap,
  &.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
    float: right;
  }
  &.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
    float: left;
  }
  &.csc-textpic div {
    &.csc-textpic-imagerow-last,
    &.csc-textpic-imagerow-none div.csc-textpic-last {
      margin-bottom: 0;
    }
  }
}

/* Positioning of images: */

/* Center (above or below) */

/* Right (above or below) */

/* Left (above or below) */

/* Left (in text) */

/* Right (in text) */

/* Right (in text, no wrap around) */

/* Left (in text, no wrap around) */

/* Browser fixes: */

/* Fix for unordered and ordered list with image "In text, left" */

.csc-textpic-intext-left {
  ol,
  ul {
    overflow: auto;

    padding-left: 40px;
  }
}

/* File Links */

ul.csc-uploads {
  padding: 0;
  li {
    margin: 1em 0;

    list-style: none outside none;
  }
  img {
    float: left;

    margin-right: 1em;

    vertical-align: top;
  }
  span {
    display: block;
    &.csc-uploads-fileName {
      text-decoration: underline;
    }
  }
}

/* Table background colors: */

table {
  &.contenttable-color-1 {
    background-color: #edebf1;
  }
  &.contenttable-color-2 {
    background-color: #f5ffaa;
  }
  &.contenttable-color-240 {
    background-color: black;
  }
  &.contenttable-color-241 {
    background-color: white;
  }
  &.contenttable-color-242 {
    background-color: #333333;
  }
  &.contenttable-color-243 {
    background-color: gray;
  }
  &.contenttable-color-244 {
    background-color: silver;
  }
}
