
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=fe6fba7478d4fdaa8f5a7dfa96f1aae7
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress