
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=55d06f2c9210598c40e598f7b33359ac
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress